{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <img src="{% static 'cat.jpg' %}" alt="">
        <h1 class="jumbotron-heading">My Portfolio</h1>
        <p class="lead text-muted">내가 만든 작품들</p>

      </div>
    </section>

    <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                {% for portfolio in posts %}
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" src="{{ portfolio.image.url }}" alt=" Card image cap">
                      <div class="card-body">
                        <h4>{{ portfolio.title }}</h4>
                        <p class="card-text">{{ portfolio.description }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>

  </main
  >
  <div class="container">

    {%if posts.has_previous%}
    <a href="?page=1" class="text-decoration-none">First</a>  &nbsp; 
    <a href="?page={{posts.previous_page_number}}" class="text-decoration-none">Previous</a> &nbsp;
    {%endif%}
  
    <span>{{posts.number}}</span> &nbsp;
    <span>of</span> &nbsp;
    <span>{{posts.paginator.num_pages}} </span> &nbsp;
  
    {%if posts.has_next%}
    <a href="?page={{posts.next_page_number}}" class="text-decoration-none">Next</a> &nbsp;
    <a href="?page={{posts.paginator.num_pages}}" class="text-decoration-none">Last</a> &nbsp;
    {%endif%}
  
  </div>
{% endblock %}